html {
    background:  #051D3B;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 32px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
input::placeholder, select{
    color: #FFFFFF;    
}
main {
    display: flex;
    margin-top: 10px;
    height: 200px;
}
button {
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 56px;
    background: #5081FB;
    font-size: 16px;
    color: #051D3B;
    text-align: center;
    text-decoration: none;
}
button:hover {
    background: #7BA4FC;
}
button:active {
    background: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24);
    border-radius: 8px;
}
.cabecalho h1 {
    margin-right: 5px;
}
.cabecalho .container {
    display: flex;
    align-items: center;
}
.container .items-esquerda {
    display: flex;
    align-items: center;
}
.img-dev {    
    margin-bottom: -6px;
}
.container .items-direita {
    display: flex;
    justify-content: flex-end;
}
.items-esquerda, .items-direita {
    width: 25%;
}
.items-direita {
    padding-left: 40px;
}
.items-centro {
    width: 50%;
    padding-left: 40px;
}
.items-centro > div {
    display: flex;
}
.items-centro input[type=text], .items-direita input[type=text], .section-direita select {    
    display: flex;    
    font-size: 16px;
    line-height: 24px;
    opacity: 0.64;
    height: 56px;
    width: 100%;
    padding: 0 14px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    border: none;    
}
.items-centro input:hover, .items-direita input:hover, .section-direita select:hover {
    background: rgba(255, 255, 255, 0.24);
}
.menu li {
    background: rgba(80, 129, 251, 0.16);
    border-radius: 18px;
    display: flex;
    margin: 16px 16px 16px 0;
}
.menu li:hover {
    background: rgba(80, 129, 251, 0.64);
    opacity: 1; 
}
.menu li:active {
    background: #5081FB;
}
.menu-navegacao-link{
    display: flex;
    align-items: center;
}
.menu a {
    margin: 0 0 0 16px;
}

.menu li:nth-child(2){
    opacity: 0.5;
}
.menu li:last-child{
    display: none;
}
.section-esquerda h1, .section-direita h1 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.menu-navegacao-link {
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 24px;
    text-decoration-line: none;
}
.menu-navegacao-link:hover {
    transition: 5ms;
    opacity: 1;
}
.menu-navegacao-link:active{
    transition: 5ms;
    border-radius: 8px;
    background: rgba(80, 129, 251, 0.24);
}
.section-quadro {
    height: 550px;
}
.section-quadro, .fieldset-quadro, .div-textarea {
    display: flex;
    flex-direction: column;   
}
.fieldset-quadro  {       
    height: 366px;
    padding: 32px; 
    border-radius: 8px;
    background: #6BD1FF;
}
.fieldset-quadro > div {
    height: 100%;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    overflow: hidden;
}
.div-botoes {
    display: flex;
    height: 52px;
    align-items: center;
    margin-left: 16px;
}
.div-textarea {
    display: flex;
    margin: 0 16px 16px 16px;
    background: #141414;
    border: none;
    color:#FFFFFF;
    height: 300px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto Mono', monospace;
}
.div-textarea > pre {
    display: flex;
    height: 100%;
}
.div-textarea > pre > code {
    width: 100%;
}
.hljs {
    background: #141414;
}
.fieldset-button {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0; 
    padding: 0;   
}
.fieldset-button > button {
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}
.fieldset-button > button:hover {
    background: rgba(80, 129, 251, 0.24);
}
.fieldset-button > button:active {
    border: 8px solid rgba(80, 129, 251, 0.72);
}
.section-direita, .items-direita > div {
    display: flex;
    flex-direction: column;
}
.items-direita fieldset {
    display: flex;
    margin-bottom: 16px;
}
.section-direita .descricao-projeto {
    height: 80px;
    margin-bottom: 40px;
}
.section-direita .linguagem option {
    color: white;
    background: #051D3B;
}
.color-picker {
    display: flex;
    width: 100%;
    background: #051D3B;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    height: 56px;
}
.color-picker .color-element{
    display: flex;
    width: inherit;
    border-radius: inherit;
    margin: 8px;
}
.pickr {
    display: flex;
    width: inherit;
    margin: 8px;
    border-radius: inherit;
}
.pickr .pcr-button {
    width: inherit;
    border-radius: inherit;
    height: inherit;
}
.mobile{
    display: none;
}



@media screen and (max-width: 991px) {
    main {
        flex-direction: column;
    }    
    .mobile {
        display: flex;
    }
    .img-author, .img-search {
        display: none;
    }
    .menu li:last-child{
        display: block;
    }
    .img-hamburguer {
        display: flex;
    }    
    .container .items-direita {
        align-items: center;
    }
    .container .items-centro, .container .items-direita {
        padding-left: 40px;
    }
    .section-esquerda {
        display: none;
    }
    .section-quadro {
        margin: 0;
    }    
    .section-direita {
        flex-direction: column;
    }
    .items-centro{
        width: 100%;
        padding: 0;
    }
    .items-direita {
        width: 100%;
        padding: 0;
    }
    .section-direita .descricao-projeto {
        margin: 0;
    }
    .descricao-projeto {
        margin: 0;
    }
    .titulo {
        margin: 40px 0 16px 0;
    }    
    .personalizacao-tablet {
        display: flex;
        justify-content: space-between;
    }
    .personalizacao-tablet .linguagem {        
        flex-direction: row;
    }
    .personalizacao-tablet fieldset {
        width: 48%;
    }
    .hamburguer {
        display: block;
        position: absolute;
        right: 1%;
        background: #051D3B;
        height: 60%;
        padding: 2%;
        border-radius: 8px;
        border: 1px solid #FFFFFF;
        box-shadow: 5px 5px 5px #ffffff;
    }
    

}

@media screen and (max-width:640px){
    body {
        margin: 3%;
    }
    main {
        flex-direction: column;
    }
    .cabecalho .items-centro {
        display: none;
    }
    .img-author{
        display: none;
    }
    .img-search {
        display: block;
    }
    .menu li:last-child{
        display: block;
    }
    .section-esquerda{
        display: none;
    }
    .items-centro {
        width: 100%;
        margin: 0;
    }
    .items-direita {
        width: 100%;
    }
    .section-direita > h1{
        margin: 25px 0;
    }
    .section-direita .descricao-projeto {
        margin: 0;
    }
    .descricao-projeto {
        margin: 0px;
    }
    .titulo {
        margin: 40px 0 16px 0;
    }
    .mobile{
        display: flex;
        position: absolute;
        right: 3%;
        margin: 0 3%;
    }
    .mobile a{
        padding-left: 5%;
    }
    .mobile a:first-child{
        margin-right: 34px;
    }
    .hamburguer {
        display: block;
        position: absolute;
        right: 1%;
        background: #051D3B;
        height: 60%;
        padding: 2%;
        border-radius: 8px;
        border: 1px solid #FFFFFF;
        box-shadow: 5px 5px 5px #ffffff;
        width: 70%;
    }
    
}
